<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>
<h1 th:text="${greetMessage}"></h1>
<h2 th:text="'Your balance is Rs. ' + ${wallet.balance}"></h2>
<a th:href="@{'/dashboard/transactions/new'}">Add Money</a>
<br>
<a th:href="@{'/dashboard/transactions'}">View All Transactions</a>
<br>
<a th:href="@{'/dashboard/transactions/moneytransfer'}">Money Transfer</a>
<br>
<div th:unless="${recentTransactions.empty}">

<table border="1">
    <thead border="2">
    <th>Transaction Date & Time</th>
    <th>Transaction Type</th>
    <th>Amount (in Rs.)</th>
    <th>Remarks</th>
    </thead>
    <tbody>
    <tr th:each="transaction : ${recentTransactions}">
        <!-- <td th:text="${#calendars.format(transaction.createdAt)}"></td> -->
        <td style='width: 200px' th:text="${transaction.getcreatedAtISTFormat()}"></td>
        <td style='width: 120px' th:text="${#strings.capitalize(transaction.transactionType)}"></td>
        <td style='width: 150px' th:text="${transaction.amount}"></td>
        <td style='width: 150px' th:text="${transaction.remarks}"></td>
    </tbody>
</table>
</div>
</body>
</html>