<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>
<h2 th:text="'Your balance is ' + ${wallet.balance}"></h2>
<a th:href="@{'/wallets/' + ${wallet.id} + '/transactions/new'}">Add Money</a>
<br>
<a th:href="@{'/wallets/' + ${wallet.id} + '/transactions/show'}">View All Transactions</a>

<p th:if="${recentTransactions.empty}">
    No Transactions have been performed on this wallet
</p>

<div th:unless="${recentTransactions.empty}">

    <h3>Recent Transactions </h3>
<table border="1" width="80%" >
    <thead border="2">
    <th>Transaction Date & Time</th>
    <th>Transaction Type</th>
    <th>Amount</th>
    <th>Remarks</th>
    </thead>
    <tbody>
    <tr th:each="transaction : ${recentTransactions}">
        <!-- <td th:text="${#calendars.format(transaction.createdAt)}"></td> -->
        <td th:text="${transaction.getcreatedAtISTFormat()}"></td>
        <td th:text="${#strings.capitalize(transaction.transactionType)}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.remarks}"></td>
    </tbody>
</table>
</div>
</body>
</html>