<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
<form  align="right" th:action="@{/logout}" method="post">
    <input style="font-size:60px" type="submit" value="Logout"/>
</form>
<form action="#" th:action="@{'/wallets/'+${walletId}+'/transactions'}" th:object="${transaction}" method="post">
    <div>
        <p>Add Money: <input type="text" th:field="*{amount}" id="amount"/></p>
        <p>Remarks: <input type="text" th:field="*{remarks}" id="remarks"/></div></p>
    <input type="submit">
    </div>

    <div>
        <span class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    </div>
</form>
</body>
</html>