<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
<form action="#" th:action="@{'/wallet/transactions'}" th:object="${transaction}" method="post">
    <div>
        <p>Add Money: <input type="text" th:field="*{amount}" id="amount"/></p>
        <p>Remarks: <input type="text" th:field="*{remarks}" id="remarks"/></div></p>
    <input type="submit">
    </div>

    <div>
        <span class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    </div>
</form>
</body>
</html>