<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
    <meta charset="UTF-8">
    <title>Transaction History</title>
</head>
<body>
<a th:href="@{'/dashboard'}">Back to Dashboard</a>
<br>
<br>
<form action="#" th:action="@{'/dashboard/transactions/filter'}" method="post">
    Get Transactions (YYYY-MM-DD):
    <input name="fromDate" type="date"/>
    to
    <input name="toDate" type="date"/>
    <input type="submit" value="Submit"/>
</form>
<br>

<h3>Transaction History</h3>
<p th:if="${transactionPage.empty}">
    No Transactions have been performed on this wallet.
</p>

<div th:unless="${transactionPage.empty}">
<table border="1" >
    <thead border="2">
    <!-- <th>Transaction Date & Time</th> -->
    <th>Transaction Date & Time</th>
    <th>Transaction Type</th>
    <th>Amount (in Rs.)</th>
    <th>Remarks</th>
    </thead>
    <tbody>
    <tr th:each="eachTransaction : ${transactionPage.content}">
        <!-- <td th:text="${#calendars.format(eachTransaction.createdAt)}"></td> -->
        <td style='width: 200px' th:text="${eachTransaction.getcreatedAtISTFormat()}"></td>
        <td style='width: 120px' th:text="${#strings.capitalizeWords(eachTransaction.transactionType)}"></td>
        <td style='width: 150px' th:text="${eachTransaction.amount}"></td>
        <td style='width: 150px' th:text="${eachTransaction.remarks}"></td>
    </tbody>
</table>
    Pages:
    <div th:if="${transactionPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/dashboard/transactions(size=${transactionPage.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==transactionPage.number + 1} ? active"></a>
    </div>
</div>
</body>
</html>