<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction History</title>
</head>
<body>
<a th:href="@{'/wallets/'+${walletId}}">Back to Dashboard</a>

<br>
<br>

<p th:if="${transaction.empty}">
    No Transactions have been performed on this wallet
</p>

<div th:unless="${transaction.empty}">
<h3>Transaction History</h3>
<table border="1" width="80%" >
    <thead border="2">
    <th>Transaction Date & Time</th>
    <th>Transaction Type</th>
    <th>Amount</th>
    <th>Remarks</th>
    </thead>
    <tbody>
    <tr th:each="eachTransaction : ${transaction}">
        <td th:text="${#calendars.format(eachTransaction.createdAt)}"></td>
        <td th:text="${#strings.capitalizeWords(eachTransaction.transactionType)}"></td>
        <td th:text="${eachTransaction.amount}"></td>
        <td th:text="${eachTransaction.remarks}"></td>
    </tbody>
</table>
</div>
</body>
</html>