<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body align="center">
<h2>Create a new account:</h2>
<form align="center" method="post" th:action="@{/users}" th:object="${user}">
    Username:
    <input th:field="*{userName}" type="text"/><br>
    <h5 style="color:red" th:text ="${userAlreadyAvailable}"></h5>
    Password:
    <input th:field="*{password}" type="password"/><br><br>
    <input type="submit" value="Submit" width="40px"><br>
</form>
</body>
</html>